
NOTEEVENTS.csv
outputs/model.safetensors
outputs/checkpoint-3-epoch-1/model.safetensors
outputs/checkpoint-3-epoch-1/optimizer.pt
cache_dir/cached_dev_bert_128_3_505
cache_dir/cached_train_bert_128_3_510
outputs/checkpoint-112-epoch-7/config.json
outputs/checkpoint-112-epoch-7/model.safetensors
outputs/checkpoint-112-epoch-7/model_args.json
outputs/checkpoint-112-epoch-7/optimizer.pt
outputs/checkpoint-112-epoch-7/scheduler.pt
outputs/checkpoint-112-epoch-7/special_tokens_map.json
outputs/checkpoint-112-epoch-7/tokenizer_config.json
outputs/checkpoint-112-epoch-7/training_args.bin
outputs/checkpoint-112-epoch-7/vocab.txt
outputs/checkpoint-128-epoch-8/config.json
outputs/checkpoint-128-epoch-8/model.safetensors
outputs/checkpoint-128-epoch-8/model_args.json
outputs/checkpoint-128-epoch-8/optimizer.pt
outputs/checkpoint-128-epoch-8/scheduler.pt
outputs/checkpoint-128-epoch-8/special_tokens_map.json
outputs/checkpoint-128-epoch-8/tokenizer_config.json
outputs/checkpoint-128-epoch-8/training_args.bin
outputs/checkpoint-128-epoch-8/vocab.txt
outputs/checkpoint-144-epoch-9/config.json
outputs/checkpoint-144-epoch-9/model.safetensors
outputs/checkpoint-144-epoch-9/model_args.json
outputs/checkpoint-144-epoch-9/optimizer.pt
outputs/checkpoint-144-epoch-9/scheduler.pt
outputs/checkpoint-144-epoch-9/special_tokens_map.json
outputs/checkpoint-144-epoch-9/tokenizer_config.json
outputs/checkpoint-144-epoch-9/training_args.bin
outputs/checkpoint-144-epoch-9/vocab.txt
outputs/checkpoint-16-epoch-1/config.json
outputs/checkpoint-16-epoch-1/model.safetensors
outputs/checkpoint-16-epoch-1/model_args.json
outputs/checkpoint-16-epoch-1/optimizer.pt
outputs/checkpoint-16-epoch-1/scheduler.pt
outputs/checkpoint-16-epoch-1/special_tokens_map.json
outputs/checkpoint-16-epoch-1/tokenizer_config.json
outputs/checkpoint-16-epoch-1/training_args.bin
outputs/checkpoint-16-epoch-1/vocab.txt
outputs/checkpoint-160-epoch-10/config.json
outputs/checkpoint-160-epoch-10/model.safetensors
outputs/checkpoint-160-epoch-10/model_args.json
outputs/checkpoint-160-epoch-10/optimizer.pt
outputs/checkpoint-160-epoch-10/scheduler.pt
outputs/checkpoint-160-epoch-10/special_tokens_map.json
outputs/checkpoint-160-epoch-10/tokenizer_config.json
outputs/checkpoint-160-epoch-10/training_args.bin
outputs/checkpoint-160-epoch-10/vocab.txt
outputs/checkpoint-32-epoch-2/config.json
outputs/checkpoint-32-epoch-2/model.safetensors
outputs/checkpoint-32-epoch-2/model_args.json
outputs/checkpoint-32-epoch-2/optimizer.pt
outputs/checkpoint-32-epoch-2/scheduler.pt
outputs/checkpoint-32-epoch-2/special_tokens_map.json
outputs/checkpoint-32-epoch-2/tokenizer_config.json
outputs/checkpoint-32-epoch-2/training_args.bin
outputs/checkpoint-32-epoch-2/vocab.txt
outputs/checkpoint-48-epoch-3/config.json
outputs/checkpoint-48-epoch-3/model.safetensors
outputs/checkpoint-48-epoch-3/model_args.json
outputs/checkpoint-48-epoch-3/optimizer.pt
outputs/checkpoint-48-epoch-3/scheduler.pt
outputs/checkpoint-48-epoch-3/special_tokens_map.json
outputs/checkpoint-48-epoch-3/tokenizer_config.json
outputs/checkpoint-48-epoch-3/training_args.bin
outputs/checkpoint-48-epoch-3/vocab.txt
outputs/checkpoint-64-epoch-4/config.json
outputs/checkpoint-64-epoch-4/model.safetensors
outputs/checkpoint-64-epoch-4/model_args.json
outputs/checkpoint-64-epoch-4/optimizer.pt
outputs/checkpoint-64-epoch-4/scheduler.pt
outputs/checkpoint-64-epoch-4/special_tokens_map.json
outputs/checkpoint-64-epoch-4/tokenizer_config.json
outputs/checkpoint-64-epoch-4/training_args.bin
outputs/checkpoint-64-epoch-4/vocab.txt
outputs/checkpoint-80-epoch-5/config.json
outputs/checkpoint-80-epoch-5/model.safetensors
outputs/checkpoint-80-epoch-5/model_args.json
outputs/checkpoint-80-epoch-5/optimizer.pt
outputs/checkpoint-80-epoch-5/scheduler.pt
outputs/checkpoint-80-epoch-5/special_tokens_map.json
outputs/checkpoint-80-epoch-5/tokenizer_config.json
outputs/checkpoint-80-epoch-5/training_args.bin
outputs/checkpoint-80-epoch-5/vocab.txt
outputs/checkpoint-96-epoch-6/config.json
outputs/checkpoint-96-epoch-6/model.safetensors
outputs/checkpoint-96-epoch-6/model_args.json
outputs/checkpoint-96-epoch-6/optimizer.pt
outputs/checkpoint-96-epoch-6/scheduler.pt
outputs/checkpoint-96-epoch-6/special_tokens_map.json
outputs/checkpoint-96-epoch-6/tokenizer_config.json
outputs/checkpoint-96-epoch-6/training_args.bin
outputs/checkpoint-96-epoch-6/vocab.txt
outputs/config.json
outputs/eval_results.txt
outputs/model_args.json
outputs/training_args.bin
runs/Mar21_20-25-43_NOAK-I5-2022005/events.out.tfevents.1711052743.NOAK-I5-2022005.12688.0
runs/Mar21_21-22-34_NOAK-I5-2022005/events.out.tfevents.1711056154.NOAK-I5-2022005.12688.1
cache_dir/cached_dev_bert_128_3_21
cache_dir/cached_dev_bert_128_3_22
cache_dir/cached_dev_bert_128_3_23
cache_dir/cached_dev_bert_128_3_24
cache_dir/cached_dev_bert_128_3_25
cache_dir/cached_dev_bert_128_3_26
cache_dir/cached_dev_bert_128_3_27
cache_dir/cached_dev_bert_128_3_28
cache_dir/cached_dev_bert_128_3_29
cache_dir/cached_dev_bert_128_3_30
cache_dir/cached_dev_bert_128_3_31
cache_dir/cached_dev_bert_128_3_32
cache_dir/cached_dev_bert_128_3_494
cache_dir/cached_train_bert_128_3_508
outputs/checkpoint-3-epoch-1/config.json
outputs/checkpoint-3-epoch-1/model_args.json
outputs/checkpoint-3-epoch-1/scheduler.pt
outputs/checkpoint-3-epoch-1/special_tokens_map.json
outputs/checkpoint-3-epoch-1/tokenizer_config.json
outputs/checkpoint-3-epoch-1/training_args.bin
outputs/checkpoint-3-epoch-1/vocab.txt
outputs/checkpoint-32-epoch-1/config.json
outputs/checkpoint-32-epoch-1/model.safetensors
outputs/checkpoint-32-epoch-1/model_args.json
outputs/checkpoint-32-epoch-1/optimizer.pt
outputs/checkpoint-32-epoch-1/scheduler.pt
outputs/checkpoint-32-epoch-1/special_tokens_map.json
outputs/checkpoint-32-epoch-1/tokenizer_config.json
outputs/checkpoint-32-epoch-1/training_args.bin
outputs/checkpoint-32-epoch-1/vocab.txt
outputs/config.json
outputs/eval_results.txt
outputs/model_args.json
outputs/training_args.bin
runs/Mar21_23-47-53_NOAK-I5-2022005/events.out.tfevents.1711064873.NOAK-I5-2022005.12688.2
runs/Mar21_23-53-04_NOAK-I5-2022005/events.out.tfevents.1711065184.NOAK-I5-2022005.12688.3
runs/Mar22_00-31-20_NOAK-I5-2022005/events.out.tfevents.1711067480.NOAK-I5-2022005.12688.4
runs/Mar22_08-18-31_NOAK-I5-2022005/events.out.tfevents.1711095511.NOAK-I5-2022005.12688.5
runs/Mar22_10-14-16_NOAK-I5-2022005/events.out.tfevents.1711102456.NOAK-I5-2022005.12688.6
training.log
outputs/checkpoint-3-epoch-1/config.json
outputs/checkpoint-3-epoch-1/model_args.json
outputs/checkpoint-3-epoch-1/scheduler.pt
outputs/checkpoint-3-epoch-1/special_tokens_map.json
outputs/checkpoint-3-epoch-1/tokenizer_config.json
outputs/checkpoint-3-epoch-1/training_args.bin
outputs/checkpoint-3-epoch-1/vocab.txt
outputs/config.json
outputs/eval_results.txt
outputs/model_args.json
outputs/training_args.bin
outputs/checkpoint-3-epoch-1/vocab.txt
keras-contrib/
runs/Mar23_10-57-11_NOAK-I5-2022005/events.out.tfevents.1711191431.NOAK-I5-2022005.12688.7
h
runs/Mar25_19-49-02_NOAK-I5-2022005/events.out.tfevents.1711396142.NOAK-I5-2022005.16996.2
runs/Mar25_18-20-33_NOAK-I5-2022005/events.out.tfevents.1711390833.NOAK-I5-2022005.16996.1
runs/Mar25_17-26-47_NOAK-I5-2022005/events.out.tfevents.1711387607.NOAK-I5-2022005.16996.0
outputs/vocab.txt
outputs/tokenizer_config.json
outputs/special_tokens_map.json
cache_dir/cached_train_bert_128_3_512
cache_dir/cached_dev_bert_128_3_503
sentence-label.csv
test_tokens.csv
nervaluate copy.ipynb
